* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: system-ui, sans-serif;
    color: black;
    background-color: rgb(184, 183, 183);
  }
  
  nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    gap: 2rem;
    border-bottom: solid 1px #aaa;
    background-color: #fbdbaa;
  }
  
  nav a {
    display: inline-block;
    min-width: 11rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: solid 1px rgb(22, 22, 22);
    box-shadow: #5a0909 0.2rem 0.2rem ;
    text-align: center;
    text-decoration: none;
    color: #1b1b1b;
  }
  
  nav a[aria-current='page'] {
    color: #000;
    background-color: #d4d4d4;
  }
  
  main {
    padding: 1rem;
  }

  footer {
    position: fixed;  
    width: 100%;
    height: 35px;
    margin-top: 80px;
    text-align: center;
 }
  
 footer a{
  color: rgb(178, 219, 255);
  text-decoration: none;

 }
  h1 {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .projects {
    width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  
  .project-link {
    background-color: #fff;
    padding: 10px 30px;
    border-radius: 8px;
    color: #212121;
    text-decoration: none;
    border: 2px solid #212121;
    margin-top: 5px;
  }
   
 #title{
  text-align: center;
  font-size: 60px;
  text-shadow: #b40808 4px 4px;
 } 